/* Begin: Header section */
#header {
    height: 3rem;
    position: fixed;
    right: 0;
    left: 0;
    font-size: 1.5rem;
}

#header ul {
    margin: 0;
}

#header ul li {
    display: none;
}

/* End: Header section */