* {
    margin: 0;
}

#main {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Begin: Header section */
#header {
    height: 4.25rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

#header ul {
    margin: 0;
}

.sidenav {
    padding-left: 0px;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav li {
    padding: 20px;
    text-decoration: none;
    max-height: 68px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidenav li:hover {
    background-color: #ccc;
}

/* End: Header section */

/* Begin: Content section */
#content {
    margin-top: 100px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#content .content-img {
    width: 100%;
    max-width: 100%;
    min-width: 120px;
    object-fit: cover;
}

#content .pagination {
    max-width: 266px;
    margin-left: auto;
    margin-right: auto;
}
/* End: Content section */

/* Begin: About section */
#about .about-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

#about .chef-img {
    display: block;
    margin: auto;
    max-width: 100%;
}

#about .about-sub-heading {
    font-size: 1.25rem;
}
/* End: About section */

/* Begin: Footer section */
#footer .footer-text {
    font-size: 0.938rem;
}

#footer .footer-img {
    display: inline-block;
    height: 50px;
    margin-right: 16px;
    vertical-align: text-bottom;
}

#footer hr {
    margin-top: 0;
    margin-bottom: 0;
}